#input-search {
  padding-left: 150px;
  padding-right: 30px;
  height: 25%;
  width: 100%;
  margin: 0px;
  border: 2px solid black;
  display: inline-flex;
  background-color: violet;
}
input {
  height: 5rem;
  width: 70%;
  padding: 5px;
  margin: 50px;
  font-size: 150%;
}
button {
  height: 5rem;
  width: 30%;
  padding: 5px;
  margin: 50px;
  font-size: 150%;
  background-color: tomato;
}
#main-div {
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  width: 100%;
  margin: 0px;
  border: 3px solid black;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
h2 {
  padding: 30px;
  width: 250px;
  font-size: 35px;
  margin: 0px;
  font-style: oblique;
  border: 3px solid black;
  background-color: turquoise;
}
#categories-list {
  padding-left: 30px;
  padding-right: 30px;
  height: 75%;
  width: 25%;
  margin: 0px;
  border: 3px solid black;
  display: inline;
  background-color: rgb(129, 159, 214);
}

.list-item {
  background-color: aquamarine;
}
#jokes-list-container {
  background-color: yellowgreen;
  height: 800px;
  width: 75%;
  margin-left: 50px;
  display: inline;
  border: 3px solid blue;
}
h1 {
  padding: 30px;
  width: 250px;
  font-size: 35px;
  margin-top: 0px;
  margin-left: 35%;
  font-style: oblique;
  border: 3px solid black;
  background-color: rgb(91, 224, 64);
}
.joke-item {
  border-radius: 15px;
  border: 4px solid green;
  display: inline-flexbox;
}

.joke-title {
  font-size: 35px;
  background-color: rgb(50, 136, 50);
}

.joke-image {
  height: 64px;
  width: 64px;
}

.joke-text {
  font-size: 25px;
}
