.Title {
  border: 4px solid orange;
  border-left: none;
  border-right: none;
  color: whitesmoke;
  text-align: center;
  font-size: 5rem;
  font-family: fantasy;
  /*background-image: url("https://blog.okapi.fr/image/59f78a6a96807_dBKjnVOsWHB2nJZJZ4REnCaNoNg@906x453.png");*/
  background-color: orangered;
  margin: 0;
  padding: 0;
}
