.filter-container {
  margin: 10px;
  border: 3px outset rgb(211, 200, 140);
  border-radius: 10px;
  background-color: thistle;
  font-size: large;
  font-family: fantasy;
  padding: 10px 3px;
  display: flex;
  flex-direction: column;
}

.filter-select {
  font-size: large;
  font-family: cursive;
  color: rgb(226, 92, 197);
  margin: 0px 5px;
}

.filter-label {
  margin-bottom: 15px;
}
