.Filters {
  border: 3px solid orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("https://blog.okapi.fr/image/59f78a6a96807_dBKjnVOsWHB2nJZJZ4REnCaNoNg@906x453.png");
}
.sub-filters {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  border-radius: 25px;
  margin: 10px;
}

.filter {
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  background-color: orange;
  border-radius: 10px;
}
.cart {
  background-color: orange;
  color: white;
  font-size: larger;
  text-align: center;
  vertical-align: middle;
}
.image-cart {
  height: 7vh;
  width: auto;
  border-radius: 15px;
  background-color: palegoldenrod;
}
