.Filters {
  border: 3px solid orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sub-filters {
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

.filter {
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  background-color: orange;
}
.cart {
  background-color: orange;
  color: white;
  font-size: larger;
  text-align: center;
  vertical-align: middle;
}
.image-cart {
  height: 7vh;
  width: auto;
  border-radius: 15px;
  background-color: palegoldenrod;
}
