.add-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid coral;
  background-color: burlywood;
  margin-top: 15px;
  border-radius: 10px;
}

.label-add-item {
  font-size: x-large;
}

.input-add-item {
  font-size: x-large;
  margin-right: 15px;
  margin-left: 5px;
  border-radius: 0px 20px 20px 0px;
  padding-left: 5px;
}

.add-button {
  height: 4vh;
  width: auto;
  background-color: wheat;
  color: orangered;
  border: 2px solid orange;
  border-radius: 20px;
  font-size: large;
  margin: 20px;
  padding: 0 10px;
}
