.totalPrice-container {
  background-color: rgb(248, 181, 79);
  font-size: 20px;
  border-radius: 35px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  align-items: center;
}
.totalPrice {
  font-size: 25px;
  font-weight: bold;
}

.cartTotal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
