button {
  margin-left: 50%;
  margin-bottom: 5%;
  padding: 0%;
  height: 25vh;
  width: 25vh;
  border: 5px solid black;
  border-radius: 15px;
  background-color: aqua;
  font-size: 4rem;
}
input {
  margin-left: 40%;
  margin-bottom: 5%;
  padding: 0%;
  height: 15vh;
  width: 35vh;
  border: 5px dotted black;
  border-radius: 15px;
  background-color: rgb(108, 238, 238);
  font-size: 4rem;
}
label {
  margin-left: 40%;
  margin-bottom: 5%;
  padding: 0%;
  height: 25vh;
  width: 25vh;
  border: 5px solid black;
  border-radius: 15px;
  background-color: rgb(19, 163, 163);
  font-size: 4rem;
}
body {
  background-color: aquamarine;
}
