.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.App-sub {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 20px;
}

.App-link {
  color: #61dafb;
}

p {
  font-size: 10rem;
  color: red;
  margin-right: 10%;
  margin-top: auto;
}
