.drop-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.589);
  z-index: 10;
}

.CartCheckout-form {
  position: fixed;
  top: 10%;
  left: 30%;
  background-color: beige;
  width: 40%;
  height: 80%;
  border-radius: 25px;
  z-index: 20;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label-checkout,
.input-checkout {
  border-radius: 5px;
  padding: 0.5%;
  margin: 0.5%;
  font-weight: bold;
  font-size: x-large;
}
.label-checkout {
  background-color: rgb(223, 195, 158);
  color: rgb(51, 36, 16);
}
.button-submit {
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  font-size: xx-large;
}
